* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --milk: rgb(255, 253, 240);
  --blue: rgb(0, 89, 251);
}

.btn {
  background-color: var(--blue);
  color: var(--milk);
  padding: 0.2rem 0.8rem;
  border: 1px solid transparent;
}

.btn:hover {
  color: var(--blue);
  background-color: var(--milk);
  border-color: var(--blue);
}

.outline {
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: transparent;
}
.outline:hover {
  color: var(--milk);
  background-color: var(--blue);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--blue);
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  /* background-color: red; */
}

main {
  background-color: var(--milk);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contents h1 {
  font-size: 2rem;
}
.contents h1 span {
  color: var(--blue);
}

.contents div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.image-wrapper {
  position: relative;
}

.hero_image {
  max-width: 80%;
  margin-inline: auto;
}

.absolute {
  position: absolute;
  width: 6rem;
}
.top-right {
  top: -9rem;
  right: -9rem;
}
.bottom-left {
  bottom: 1rem;
  left: -9rem;
}

.trusted {
  border: 2px solid black;
  padding: 0.5rem;
  margin-top: -2rem;
}
